body {
    background-color: #e9ecec;
    width: 100%
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.photo-display {
    display: grid;
    grid-template-rows: 640px;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-content: center;
    align-items: center;
}

.photo-container {
    position: relative;
    height: 600px;
}

.frame {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: calc(50% - 290px);
    top: calc(50% - 219px);
}

.photo {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: calc(50% - 200px);
    top: calc(50% - 150px);
}

.name {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: calc(50% - 150px);
    top: calc(50% + 225px);
    width: 300px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    background-color: #eff1f1;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.3), 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}

.description {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: calc(50% - 250px);
    top: calc(50% + 255px);
    width: 500px;
    height: 40px;
    text-align: center;
    background-color: #eff1f1;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.3), 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}

.title {
    position: absolute;
    left: calc(50% - 250px);
    top: 35px;
    text-align: center;
    font-size: 40px;
    width: 500px;
}
