<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>This is document title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='render.js') }}"> </script>
    </head>
    <body>
        <div class="title" align="middle">
            My Gallery
        </div>
        <script>
            renderDisplay("{{url_for('static', filename='images/frame_horizontal.png')}}", METADATA);
        </script>
    </body>
</html>
